$press-articles-theme-color: $green-light;

.press-articles {
  @extend %container-full;
  background-color: $press-articles-theme-color;
  //color: $press-articles-text-color;
  &__container {
    @extend %container-row;
    @extend %module-top-bottom-padding-equal-style;
  }
  &__heading {
    @extend %heading-1-style-white-center;
  }
  &__articles-list {
    @extend %container-row;
  }
  &__article-item {
    @extend %column;

    &--last-child {
      @extend .press-articles__post-item;
      margin-bottom: 0;
    }
  }
  &__article {
    max-width: 300px;
    margin: 0 auto 40px auto;
    text-align: center;
  }

  &__article-logo {
    width: 35%;
    margin: 2em auto 2em auto;

    @include respond-to(medium) {
      max-width: 230px;
      width: 50%;
    }

    @extend %icon-bottom-padding-1;
  }

  &__sub-heading {
    @extend %heading-3-style-white-center;
  }
  &__description {
    @extend %paragraph-s-style-white-center;
  }
  &__visit-btn {
    @extend %button-style-1-small;
    margin-bottom: 25px;
    color: $press-articles-theme-color;
  }
}

.press-articles__post-item {
  &:last-child {
    @extend .press-articles__article-item--last-child;
    .press-articles__article,
    .press-articles__description {
      margin-bottom: 0;
    }
  }
}
