$button-1-font-size-small-small: 12px;
$button-1-font-size-small-medium: 14px;

$button-1-font-size-medium-small: 16px;
$button-1-font-size-medium-medium: 18px;

$button-1-font-size-large-small: 19px;
$button-1-font-size-large-medium: 21px;


// SIZING
%button-1-small {
  padding: 5px 12px;
  @include font-size($button-1-font-size-small-small);
  @include respond-to(medium) {
    @include font-size($button-1-font-size-small-small);
  }
}

%button-1-medium {
  padding: 11px 12px;
  @include font-size($button-1-font-size-medium-small);
  @include respond-to(medium) {
    @include font-size($button-1-font-size-medium-medium);
  }
}

%button-1-large {
  padding: 13px 19px;
  @include font-size($button-1-font-size-large-small);
  @include respond-to(medium) {
    @include font-size($button-1-font-size-large-medium);
  }
}

// STYLING

%button-rounded-small {
  border-radius: 4px;
}
%button-rounded-medium {
  border-radius: 7px;
}
%button-rounded-large {
  border-radius: 9px;
}

%button-white-bg {
  background-color: $white;
}

%orange-text {
  color: $orange;
}

%btn-reset {
  text-decoration: none;
  display: inline-block;
}

%bold-btn-font {
  font-family: $button-font-family;
}

%btn-style-1 {
  @extend %bold-btn-font;
  @extend %button-white-bg;
  @extend %orange-text;
  @extend %btn-reset;
}

%button-style-1-small {
  @extend %button-rounded-small;
  @extend %btn-style-1;
  @extend %button-1-small;
}

%button-style-1-medium {
  @extend %button-rounded-medium;
  @extend %btn-style-1;
  @extend %button-1-medium;
}

%button-style-1-large {
  @extend %button-rounded-large;
  @extend %btn-style-1;
  @extend %button-1-large;
}
