$button-1-font-size-small-small: 14px;
$button-1-font-size-small-medium: 17px;

$button-1-font-size-medium-small: 16px;
$button-1-font-size-medium-medium: 18px;

$button-1-font-size-large-small: 19px;
$button-1-font-size-large-medium: 21px;

$button-1-padding-small: 8px 21px;;
$button-1-padding-medium: 11px 12px;
$button-1-padding-large: 17px 26px;

$button-1-radius-small: 6px;
$button-1-radius-medium: 7px;
$button-1-radius-large: 9px;



// SIZING
%button-1-small {
  padding: $button-1-padding-small;
  @include font-size($button-1-font-size-small-small);
  @include respond-to(medium) {
    @include font-size($button-1-font-size-small-small);
  }
}

%button-1-medium {
  padding: $button-1-padding-medium;
  @include font-size($button-1-font-size-medium-small);
  @include respond-to(medium) {
    @include font-size($button-1-font-size-medium-medium);
  }
}

%button-1-large {
  padding: $button-1-padding-large;
  @include font-size($button-1-font-size-large-small);
  @include respond-to(medium) {
    @include font-size($button-1-font-size-large-medium);
  }
}

// STYLING

%button-rounded-small {
  border-radius: $button-1-radius-small;
}
%button-rounded-medium {
  border-radius: $button-1-radius-medium;
}
%button-rounded-large {
  border-radius: $button-1-radius-large;
}

%button-white-bg {
  background-color: $white;
}

%orange-text {
  color: $orange;
}

%btn-reset {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

%bold-btn-font {
  font-family: $button-font-family;
}

%btn-style-1 {
  @extend %bold-btn-font;
  @extend %button-white-bg;
  @extend %orange-text;
  @extend %btn-reset;
}

%button-style-1-small {
  @extend %button-rounded-small;
  @extend %btn-style-1;
  @extend %button-1-small;
}

%button-style-1-medium {
  @extend %button-rounded-medium;
  @extend %btn-style-1;
  @extend %button-1-medium;
}

%button-style-1-large {
  @extend %button-rounded-large;
  @extend %btn-style-1;
  @extend %button-1-large;
}

%button-style-2-large-tab {
  @extend %button-style-1-medium;
  width: 100%;
}
