%accordion {
  position: relative;
  background-color: #eee;

  &__dt,
  &__list {
    &:after {
      content: "";
      display: block;
      height: 0;
      width:100%;
    }
  }

  &__dd {
     background-color: #eee;
     font-size: 1em;
     line-height: 1.5em;
  }

  &__paragraph {
    @extend %paragraph-s-style-white;
    margin-bottom: 0;
    padding: 1em 2em 1em 2em;
  }

  &__title {
    @extend %heading-3-style-dark;
    background-color: $white;
    margin-bottom: 0;
    padding: 0.8em;
    display: block;
    text-decoration: none;
    color: $dark-blue;
    transition: background-color 0.5s ease-in-out;
    border-bottom: 1px solid #d9d5d5;

    &:before {
       content: "+";
       font-size: 1.5em;
       line-height: 0.5em;
       margin-right: 0.6em;
       float: left;
       color: $orange;
       transition: transform 0.3s ease-in-out;
       height: 0.74em;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__title--active {
    @extend %accordion__title;
     &:before {
       transform:rotate(-225deg);
     }
  }

  &__item {
    background: $ebony-clay;
    height: auto;
    overflow: hidden;
    // unfortunately a magic number required to allow the accordion to animate
    max-height: 50em;
    transition: max-height 1s;

    @media screen and (min-width:48em) {
      max-height: 25em;
      transition: max-height 0.5s
    }
  }

  &__item--is-collapsed {
    @extend %accordion__item;
      max-height: 0;
  }
}

.no-js .accordionItem.is-collapsed {
  max-height: auto;
}

.animateIn {
     animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
     animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@keyframes accordionIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes accordionOut {
  0% {
     opacity: 1;
   }
  100% {
    opacity: 0;
  }
}
