$further-reading-theme-color: $muted-blue;

.further-reading {
  @extend %container-full;
  background-color: $further-reading-theme-color;

  &__container {
    @extend %container-row;
    @extend %module-top-bottom-padding-style;
  }
  &__heading {
    @extend %heading-1-style-white-center;
  }
  &__posts-list {
    @extend %container-row;
  }
  &__post-item {
    @extend %column;

    &--last-child {
      @extend .further-reading__post-item;
      margin-bottom: 0;
    }
  }
  &__post {
    max-width: 300px;
    margin: 0 auto 40px auto;
    text-align: center;
  }
  &__sub-heading {
    @extend %heading-3-style-white-center;
  }
  &__description {
    @extend %paragraph-s-style-white-center;
  }

  &__learn-more-btn {
    @extend %button-style-1-small;
    margin-bottom: 25px;
    color: $further-reading-theme-color;
  }
}

// Behaviours
.further-reading__post-item {
  &:last-child {
    @extend .further-reading__post-item--last-child;
    .further-reading__post,
    .further-reading__description {
      margin-bottom: 0;
    }
  }
}
