/**
 * Default everything to border-box sizing.
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}





/**
 * As well as using normalize.css, it is often advantageous to remove all
 * margins from certain elements.
 */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin:  0;
  padding: 0;
}





/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title],
dfn[title] {
  cursor: help;
}





/**
 * Stop inline elements of different typeface/size messing up rhythm.
 */
code, kbd, samp,
sup, sub, small {
  line-height: 1;
}





/**
 * We don't want anything as opinionated as a border on a fieldset
 */
fieldset {
  border: 0;
}




/**
 * Stop unborken lines of text creating scrollbars on the page, give them their own!
 */
pre {
  overflow: auto;
}




/**
 * Lists are too often used for semantics and shouldn't inherantly display as a 'text list' - use or extend .lli-list for that.
 */
 ul, ol {
  list-style: none;
 }
