// paragraph-font-size-(l,m,s)-breakpoint
$paragraph-font-size-l-small: 15px;
$paragraph-font-size-l-medium: 18px;

$paragraph-line-height-l-small: 30px;
$paragraph-line-height-l-medium: 38px;

$paragraph-l-margin-bottom-small: 40px;
$paragraph-l-margin-bottom-medium: 50px;

// HERO VARIANT
$paragraph-font-size-hero-small: 15px;
$paragraph-font-size-hero-medium: 18px;

$paragraph-line-height-hero-small: 20px;
$paragraph-line-height-hero-medium: 30px;

$paragraph-hero-margin-bottom-small: 16px;
$paragraph-hero-margin-bottom-medium: 30px;

$hero-p-max-width: 480px;

// PARAGRAPH FONTS
%paragraph-font-style {
  font-family: $paragraph-font-family;
}

%center-max-width-text {
  @extend %paragraph-max-width;
  @extend %center-text;
}

// SIZING
%paragraph-size-l-style {
  @include font-size($paragraph-font-size-l-small);
  margin-bottom: $paragraph-l-margin-bottom-small;
  line-height: $paragraph-line-height-l-small;
  @include respond-to(medium) {
    line-height: $paragraph-line-height-l-medium;
    margin-bottom: $paragraph-l-margin-bottom-medium;
    @include font-size($paragraph-font-size-l-medium);
  }
}

// HERO VARIANT
%paragraph-size-hero-style {
  @include font-size($paragraph-font-size-hero-small);
  margin-bottom: $paragraph-hero-margin-bottom-small;
  line-height: 20px;
  @include respond-to(medium) {
    line-height: 30px;
    margin-bottom: $paragraph-hero-margin-bottom-medium;
    @include font-size($paragraph-font-size-hero-medium);
  }
}


%paragraph-l-style {
  @extend %paragraph-font-style;
  @extend %paragraph-size-l-style;
}

// HERO VARIATION
%paragraph-hero-style {
  @extend %paragraph-font-style;
  @extend %paragraph-size-hero-style;
}

// DARK BLUE TEXT
%paragraph-l-style-dark {
  @extend %paragraph-l-style;
  color: $dark-blue;
}

// WHITE COLOR
%paragraph-l-style-white {
  @extend %paragraph-l-style;
  color: $white;
}

%paragraph-l-style-white-center {
  @extend %paragraph-l-style-white;
  @extend %center-max-width-text;
}
%paragraph-l-style-white-center {
  @extend %paragraph-l-style-white;
  @extend %center-max-width-text;
}

%paragraph-l-style-dark-center {
  @extend %paragraph-l-style-dark;
  @extend %center-max-width-text;
}
%paragraph-l-style-dark-center {
  @extend %paragraph-l-style-dark;
  @extend %center-max-width-text;
}

// HERO VARIATION
%paragraph-hero-style-white {
  @extend %paragraph-hero-style;
  color: $white;
}

%paragraph-l-style-white {
  @extend %paragraph-l-style-white;
}

%paragraph-hero-style-white-450mw {
  @extend %paragraph-hero-style-white;
  max-width: $hero-p-max-width;
}



// DEFUALT ELEMENT STYLES
p {
  @extend %paragraph-l-style-dark;
}
