// /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff612d+0,ff9e1e+100 */
// background: #ff612d; /* Old browsers */
// /* IE9 SVG, needs conditional override of 'filter' to 'none' */
// /* Support for full multi-stop gradients with IE9 (using SVG).
// Add a "gradient" class to all your elements that have a gradient, and add the following override to your HTML to complete the IE9 support:
// <!--[if gte IE 9]>
//   <style type="text/css">
//     .gradient {
//        filter: none;
//     }
//   </style>
// <![endif]-->
// */
%sunset-orange-gradient {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNjEyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjllMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ff612d 0%, #ff9e1e 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff612d), color-stop(100%,#ff9e1e)); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, #ff612d 0%,#ff9e1e 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, #ff612d 0%,#ff9e1e 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, #ff612d 0%,#ff9e1e 100%); /* IE10 preview */
  background: linear-gradient(to bottom, #ff612d 0%,#ff9e1e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff612d', endColorstr='#ff9e1e',GradientType=0 ); /* IE6-8 */
}
