// FONTS
$heading-font-family: 'HouseSansBold';
$paragraph-font-family: 'HouseSansRegular';
$button-font-family: 'HouseSansBold';

// COLORS
%white-text {
  color: $white;
}
%dark-blue-text {
  color: $dark-blue;
}
