$unordered-list-padding-top-left-spacing-small: $spacing-scale-1-small;
$unordered-list-padding-top-left-spacing-medium: $spacing-scale-1-medium;
$unordered-list-padding-top-left-spacing-large: 90px;

$list-item-margin-top-spacing-small: 14px;
$list-item-margin-top-spacing-medium: $spacing-scale-1-small;
$list-item-margin-top-spacing-large: $spacing-scale-1-small;

$custom-breakpoint-ul-left-padding-begins: 530px;


%unordered-list {
  margin: 0;
  list-style-position: inside;
  padding-top: $unordered-list-padding-top-left-spacing-small;
  padding-left: 0;
  padding-bottom: $unordered-list-padding-top-left-spacing-small;

  @media all and (min-width: $custom-breakpoint-ul-left-padding-begins) {
    padding-left: $unordered-list-padding-top-left-spacing-small;
  }

  @include respond-to(medium) {
    padding-top: $unordered-list-padding-top-left-spacing-medium;
    padding-left: $unordered-list-padding-top-left-spacing-medium * 2;
    padding-bottom: $unordered-list-padding-top-left-spacing-medium;
  }
}

%unordered-list-remove-padding {
  margin: 0;
}

%list-item {
  line-height: 1.6;
  list-style-type: none;
  font-family: $paragraph-font-family;
  margin-top: $list-item-margin-top-spacing-small;

  &:before {
    display: inline-block;
    content: '';
    -webkit-border-radius: 0.375rem;
    border-radius: 0.4rem;
    height: 0.8rem;
    width: 0.8rem;
    margin-right: 0.85rem;
    background-color: $orange;
  }

  @include respond-to(medium) {
    margin-top: $list-item-margin-top-spacing-medium;
    @include font-size(22px);
  }

  @include respond-to(large) {
    margin-top: $list-item-margin-top-spacing-large;
  }
}

%list-item-dark {
  @extend %list-item;
  color: $dark-blue;
}

%list-item-light {
  @extend %list-item;
  color: $white;
}

%nested-list {
  margin-top: 12px;
  padding-left: 35px;

  @include respond-to(medium) {
    margin-top: 20px;
  }
}

%child-list-item {
  font-size: 90%;

  &:before {
    display: inline-block;
    content: '';
    -webkit-border-radius: 0.4rem;
    border-radius: 0.4rem;
    height: 0.6rem;
    width: 0.6rem;
    margin-right: 0.7rem;
    background-color: $orange;
  }
}
