// element-property-(size)-breakpoint

// PARAGRAPH M
$paragraph-font-size-l-small: 15px;
$paragraph-font-size-l-medium: 18px;

$paragraph-line-height-l-small: 30px;
$paragraph-line-height-l-medium: 38px;

$paragraph-l-margin-bottom-small: 40px;
$paragraph-l-margin-bottom-medium: 50px;

// PARAGRAPH M
$paragraph-font-size-m-small: 13px;
$paragraph-font-size-m-medium: 16px;

$paragraph-m-margin-bottom-small: 30px;
$paragraph-m-margin-bottom-medium: 40px;

$paragraph-line-height-m-small: 23px;
$paragraph-line-height-m-medium: 30px;

// PARAGRAPH S
$paragraph-font-size-s-small: 13px;
$paragraph-font-size-s-medium: 16px;

$paragraph-s-margin-bottom-small: 26px;
$paragraph-s-margin-bottom-medium: 40px;

$paragraph-line-height-s-small: 23px;
$paragraph-line-height-s-medium: 30px;

// HERO VARIANT
$paragraph-font-size-hero-small: 15px;
$paragraph-font-size-hero-medium: 18px;

$paragraph-line-height-hero-small: 20px;
$paragraph-line-height-hero-medium: 30px;

$paragraph-hero-margin-bottom-small: 16px;
$paragraph-hero-margin-bottom-medium: 30px;

$paragraph-hero-line-height-small: 27px;
$paragraph-hero-line-height-medium: 30px;

$hero-p-max-width: 480px;
$common-hero-p-max-width: 480px;
$small-column-max-width-1: 365px;

// HERO COMMON VARIANT
$paragraph-font-size-hero-common-large: 20px;
$paragraph-line-height-hero-common-large: 2;

// PARAGRAPH FONTS
%paragraph-font-style {
  font-family: $paragraph-font-family;
}

%center-max-width-text {
  @extend %paragraph-max-width;
  @extend %center-text;
}

// SIZING
%paragraph-size-l-style {
  @include font-size($paragraph-font-size-l-small);
  margin-bottom: $paragraph-l-margin-bottom-small;
  line-height: $paragraph-line-height-l-small;
  @include respond-to(medium) {
    line-height: $paragraph-line-height-l-medium;
    margin-bottom: $paragraph-l-margin-bottom-medium;
    @include font-size($paragraph-font-size-l-medium);
  }
}

%paragraph-size-m-style {
  @include font-size($paragraph-font-size-m-small);
  margin-bottom: $paragraph-m-margin-bottom-small;
  line-height: $paragraph-line-height-m-small;
  @include respond-to(medium) {
    line-height: $paragraph-line-height-m-medium;
    margin-bottom: $paragraph-m-margin-bottom-medium;
    @include font-size($paragraph-font-size-m-medium);
  }
}

%paragraph-size-s-style {
  @include font-size($paragraph-font-size-s-small);
  margin-bottom: $paragraph-s-margin-bottom-small;
  line-height: $paragraph-line-height-s-small;
  @include respond-to(medium) {
    line-height: $paragraph-line-height-s-medium;
    margin-bottom: $paragraph-s-margin-bottom-medium;
    @include font-size($paragraph-font-size-s-medium);
  }
}

// HERO VARIANT
%paragraph-size-hero-style {
  @include font-size($paragraph-font-size-hero-small);
  margin-bottom: $paragraph-hero-margin-bottom-small;
  line-height: $paragraph-hero-line-height-small;
  @include respond-to(medium) {
    line-height: $paragraph-hero-line-height-medium;
    margin-bottom: $paragraph-hero-margin-bottom-medium;
    @include font-size($paragraph-font-size-hero-medium);
  }
}


%paragraph-size-hero-common-style {
  @extend %paragraph-size-hero-style;
  @include respond-to(large) {
    line-height: $paragraph-line-height-hero-common-large;
    @include font-size($paragraph-font-size-hero-common-large);
  }
}

//LARGE SIZE P
%paragraph-l-style {
  @extend %paragraph-font-style;
  @extend %paragraph-size-l-style;
}
// MEDIUM SIZE P
%paragraph-m-style {
  @extend %paragraph-font-style;
  @extend %paragraph-size-m-style;
}
// SMALL SIZE P
%paragraph-s-style {
  @extend %paragraph-font-style;
  @extend %paragraph-size-s-style;
}

// HERO VARIATION
%paragraph-hero-style {
  @extend %paragraph-font-style;
  @extend %paragraph-size-hero-style;
}
%paragraph-hero-style-center {
  @extend %paragraph-hero-style;
  @extend %center-text;
}

// DARK BLUE TEXT
%paragraph-l-style-dark {
  @extend %paragraph-l-style;
  color: $dark-blue;
}

// WHITE COLOR
%paragraph-l-style-white {
  @extend %paragraph-l-style;
  color: $white;
}

// DARK BLUE TEXT
%paragraph-m-style-dark {
  @extend %paragraph-m-style;
  color: $dark-blue;
}

// WHITE COLOR
%paragraph-m-style-white {
  @extend %paragraph-m-style;
  color: $white;
}

// DARK BLUE TEXT
%paragraph-s-style-dark {
  @extend %paragraph-s-style;
  color: $dark-blue;
}

// WHITE COLOR
%paragraph-s-style-white {
  @extend %paragraph-s-style;
  color: $white;
}

%paragraph-l-style-white-center {
  @extend %paragraph-l-style-white;
  @extend %center-max-width-text;
}
%paragraph-l-style-white-center {
  @extend %paragraph-l-style-white;
  @extend %center-max-width-text;
}

%paragraph-l-style-dark-center {
  @extend %paragraph-l-style-dark;
  @extend %center-max-width-text;
}
%paragraph-l-style-dark-center {
  @extend %paragraph-l-style-dark;
  @extend %center-max-width-text;
}

%paragraph-m-style-white-center {
  @extend %paragraph-m-style-white;
  @extend %center-max-width-text;
}
%paragraph-m-style-white-center {
  @extend %paragraph-m-style-white;
  @extend %center-max-width-text;
}

%paragraph-m-style-dark-center {
  @extend %paragraph-s-style-dark;
  @extend %center-max-width-text;
}
%paragraph-m-style-dark-center {
  @extend %paragraph-s-style-dark;
  @extend %center-max-width-text;
}

%paragraph-s-style-white-center {
  @extend %paragraph-s-style-white;
  @extend %center-max-width-text;
}
%paragraph-s-style-white-center {
  @extend %paragraph-s-style-white;
  @extend %center-max-width-text;
}

%paragraph-s-style-dark-center {
  @extend %paragraph-s-style-dark;
  @extend %center-max-width-text;
}
%paragraph-s-style-dark-center {
  @extend %center-max-width-text;
}


// HERO VARIATION
%paragraph-hero-style-white {
  @extend %paragraph-hero-style;
  color: $white;
}

%paragraph-hero-common-style-white {
  @extend %paragraph-size-hero-common-style;
  color: $white;
}

%paragraph-hero-style-center-white {
  @extend %paragraph-hero-style-center;
  color: $white;
}

%paragraph-hero-common-style-center-white {
  @extend %paragraph-hero-common-style-white;
  @extend %center-text;
}

%paragraph-l-style-white {
  @extend %paragraph-l-style-white;
}

// MAX WIDTH VARIATIONS

%paragraph-hero-style-white-450mw {
  @extend %paragraph-hero-style-white;
  max-width: $hero-p-max-width;
}

%paragraph-hero-style-white-center-450mw {
  @extend %paragraph-hero-style-center-white;
  max-width: $common-hero-p-max-width;
}

%paragraph-s-style-dark-center-300mw {
    @extend %paragraph-s-style-dark-center;
    max-width: $small-column-max-width-1 !important;
}





// DEFUALT ELEMENT STYLES
p {
  @extend %paragraph-l-style-dark;
}
