<!DOCTYPE html>
<html lang="en">
<head>
  <title>MUE</title>
</head>
<body>
  {{> ./partials/header title="Title" }}
  <div>Index</div>
  {{> ./partials/get-started }}
  {{> ./partials/footer }}
</body>
</html>
