%center-element {
  margin: 0 auto;
  display: block;
}

%center-text {
  text-align: center;
  width: 100%;
}

%paragraph-max-width {
  max-width: 910px;
}

%short-summary-max-width {
  max-width: 300px;
  @extend %center-element;
}
