<div class="get-started">
  <h2 class="get-started-header">{{title}}</h2>
  <div class="get-started-investors">

  </div>
  <div class="get-started-consumers">

  </div>
  <div class="get-started-merchants">

  </div>
  <div class="get-started-developers">

  </div>

  <div class="get-started-download">

  </div>

</div>
