%container {
  padding-right: ($gutter/2);
  padding-left: ($gutter/2);
  margin: 0 auto;

  @each $key, $value in $breakpoints {
    @if map-has-key($containers, $key) {
      @media (min-width: #{$value}) {
        width: #{map-get($containers, $key)}
      }
    }
  }
}

%container-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  width: 100%;

  @each $key, $value in $breakpoints {
    @if map-has-key($containers, $key) {
      @media (min-width: #{$value}) {
        width: #{map-get($containers, $key)};
        flex-direction: row;
      }
    }
  }
}

%container-full {
  padding-right: ($gutter/2);
  padding-left: ($gutter/2);
  margin-right: auto;
  margin-left: auto;
}
