$full-screen-min-width-1: 980px;
$full-screen-min-height-1: 800px;

// Full Height Container
.home-hero, .home-hero__container {
  @media all and (min-width: $full-screen-min-width-1) and (min-height: $full-screen-min-height-1) {
    height: 100%;
  }
}

.home-hero {
  @extend %container-full;
  background-image: url('/assets/images/home/hero-portrait-small.jpg');
  background-size: cover;
  @include respond-to(small) {
    background-image: url('/assets/images/home/hero-landscape-medium.jpg');
  }
  @include respond-to(large) {
    background-image: url('/assets/images/home/hero-landscape-large.jpg');
  }

  &__nav-row {
    width: 100%;
    min-height: 73px;
  }

  &__container {
    @extend %container-row;
    @extend %module-bottom-padding-style;
  }

  &__aside {
    @extend %column;
    @extend %column--center;
    // flip the hero's columns at the small breakpoint so image is on the right
    flex: 0 0 auto;

    @include respond-to(small) {
      order: 12;
      flex: 1 0 0%;
    }
  }
  &__aside-image-container {
    margin: 0 auto;
    max-width: 470px;
    @include respond-to(small) {
      max-width: none;
    }
    @extend %column;
  }
  &__aside-image {
    width: 80%;
    display: block;
    margin: 50px auto 25px auto;
    max-width: 550px;
    @include respond-to(small) {
      order: 12;
      width: 90%;
      margin-top: 19%;
      margin: 50px 0 25px auto;
    }
  }

  &__lead {
    @extend %column;
    @extend %column--center;
    padding-left: 2.5%;
  }
  &__lead-heading {
    @extend %heading-1-hero-style-white;
  }
  &__lead-subheading {
    @extend %heading-2-hero-style-white;
  }
  &__lead-intro {
    @extend %paragraph-hero-style-white-450mw;
  }
  &__actions-why-mue {
    display: block;
    margin-bottom: 17px;
    @include respond-to(large) {
      display: inline-block;
      max-width: 48%;
      margin-right: 35px;
    }
  }
  &__actions-start-using {
    display: block;
    @include respond-to(large) {
      display: inline-block;
      max-width: 48%;
    }
  }
  &__actions-btn-why-mue, &__actions-btn-start-using {
    @extend %button-style-1-medium;
    min-width: 280px;
    text-align: center;
    @include respond-to(medium) {
      min-width: 296px;
      text-align: center;
    }
  }
  &__actions-btn-start-using {
    @extend %button-style-1-medium;
  }
  &__actions-btn-why-mue--play-icon {
    @extend %icon--play;
    margin-left: 3px;
  }
}
