.about {
  @extend %container-full;
  background-image: url('/assets/images/about/about-portrait-small.jpg');
  background-size: cover;
  @include respond-to(small) {
    background-image: url('/assets/images/about/about-landscape-large.jpg');
  }
  &__container {
    @extend %container-row;
    @extend %module-top-bottom-padding-style;
  }
  &__intro {
    @extend %column;
  }
  &__intro-text-container {
    @extend %center-element;
    @extend %paragraph-max-width;
  }
  &__intro-heading {
    @extend %heading-1-style-white-center;
  }
  &__intro-paragraph {
    @extend %paragraph-l-style-white-center;
  }

  &__benefits-list{

  }
}
