$tabs-inactive-color: $orange-cream;

.guide-selection-tabs {

  overflow: auto;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;

  &__list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    text-align: center;

    @extend %container-row;
    margin: 0 auto;
    background-color: $white;

    @include respond-to-mw(medium){
      display: block;
      flex-wrap: initial;
    }
  }

  &__tab-container {
    display: inline-block;
    @include respond-to-mw(small){
      width: 50%;
      float: left;
      &:nth-of-type(odd) a { border-right: 1px solid $orange; }
    }
    @include respond-to(small){
      width: 25%;
    }
  }

  &__tab-container--developers {
    @extend .guide-selection-tabs__tab-container;
    .guide-selection-tabs__tab {
      border-right: 0;
    }
  }

  &__tab {
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: $orange;
    opacity: 1 !important;
    background: $tabs-inactive-color;

    @include respond-to-mw(small){
      padding: 8px 0px;
      display: block;
      border-bottom: 1px solid $orange;
    }

    @include respond-to(small){
      padding: 26px 20px;
      border-right: 1px solid $orange;
      border-bottom: 1px solid $orange;
    }

    &:hover, &--active {
      @extend .guide-selection-tabs__tab;
      background: $white !important;
      @include respond-to(small){
        border-bottom: none;
      }
    }

    @include respond-to(medium){
      @include font-size(20px);
    }
  }
}
