html, body {
  %full-height-margin-0 {
    height: 100%;
    margin: 0;
  }
}

html, body {
  @extend %full-height-margin-0;
}

// classes for consistent module spacing
%module-top-bottom-padding-style {
  padding-top: 50px;
  padding-bottom: 80px;
  @include respond-to(small) {
    padding-top: 70px;
    padding-bottom: 90px;
  }
  @include respond-to(medium) {
    padding-top: 6%;
    padding-bottom: 8%;
  }
}

%module-bottom-padding-style {
  padding-bottom: 80px;
  @include respond-to(small) {
    padding-bottom: 90px;
  }
  @include respond-to(medium) {
    padding-bottom: 8%;
  }
}
