$layout-spacing-xxs: 10px;
$layout-spacing-xs1: 20px;
$layout-spacing-xs0: 30px;
$layout-spacing-xs: 50px;
$layout-spacing-m: 70px;
$layout-spacing-m1: 80px;
$layout-spacing-l: 90px;

// FLUID
$layout-spacing-fluid-m: 6%;
$layout-spacing-fluid-m1: 8%;

%full-height-margin-0 {
  height: 100%;
  margin: 0;
}

html, body {
  @extend %full-height-margin-0;
}

// classes for consistent module spacing
%module-top-bottom-padding-style {
  padding-top: $layout-spacing-m;
  padding-bottom: $layout-spacing-l;
  @include respond-to(small) {
    padding-top: $layout-spacing-m;
    padding-bottom: $layout-spacing-l;
  }
  @include respond-to(medium) {
    padding-top: $layout-spacing-fluid-m;
    padding-bottom: $layout-spacing-fluid-m1;
  }
}

%module-top-padding-style {
  padding-top: $layout-spacing-m;
  @include respond-to(small) {
    padding-top: $layout-spacing-m;
  }
  @include respond-to(medium) {
    padding-top: $layout-spacing-fluid-m;
  }
}

%module-bottom-padding-style {
  padding-bottom: $layout-spacing-m1;
  @include respond-to(small) {
    padding-bottom: $layout-spacing-l;
  }
  @include respond-to(medium) {
    padding-bottom: $layout-spacing-fluid-m1;
  }
}
