.faq-accordion-menu {
  background: $lighest-grey;

  &__container {
    position: relative;
    top: -6em;
    @extend %box-shadow-1;
    max-width: 1070px;
    width: 84%;
    @include respond-to(small) {
        width: 80%;
    }
    margin: 0 auto;
  }

  &__accordion {
    @extend %accordion;
  }

  &__define-term {
    @extend %accordion__dt;
  }

  &__define-description {
    @extend %accordion__dd;
  }

  &__title {
    @extend %accordion__title;
  }
  &__title--active {
    @extend %accordion__title--active;
  }

  &__paragraph {
    @extend %accordion__paragraph;
  }

  &__item {
    @extend %accordion__item;
  }

  &__item--is-collapsed {
    @extend %accordion__item--is-collapsed;
  }
}
