// Colors used across the site
$white: #fff;
$dark-blue: #30323d;
$ebony-clay: #25293f;
$medium-blue: #25293f;
$orange: #f19533;
$orange-cream: #ffead2;
$sunset-orange: #ff612d;
$tree-poppy: #ff9e1e;
$yellow: #fab022;
$light-grey: #bcbbbb;
$lighest-grey: #f0efee;
$windows-blue: #0078d7;
$android-green: #a4ca39;
$apple-grey: #595959;
$black-1: #292828;
