$gutter: 25px !default;

$breakpoints: (
  'smallest': '320px',
  'very-small': '600px',
  'small': '700px',
  'medium': '992px',
  'medium-large': '1170px',
  'large': '1450px'
) !default;

$containers: (
  'small': (650px + $gutter),
  'medium': (940px + $gutter),
  'medium-large': (1105px + $gutter),
  'large': (1350px + $gutter)
) !default;

$sizes: (
  'full': '100%',
  'half': '50%',

  '1of3': '33.3333%',
  '2of3': '66.6666%',

  '1of4': '25%',
  '2of4': '50%',
  '3of4': '75%',

  '1of5': '20%',
  '2of5': '40%',
  '3of5': '60%',
  '4of5': '80%'
) !default;

$spacing-l-size: 2.5em;
$spacing-m-size: 1.5em;
$spacing-s-size: .5em;
